# Python stuff
__pycache__/

# C stuff
*.o
0x01-insert_in_sorted_linked_list/insert
0x02-heap_insert/0-node
0x02-heap_insert/1-heap_insert
0x04-sandpiles/0-sandpiles
0x05-linked_list_palindrome/palindrome
0x08-palindrome_integer/palindrome
